<hr>
<div class="row">
  <div class="col-md-4">
    <ul>
      <li>
        <%= link "Арго", to: page_path(@conn, :index) %>
      </li>

      <%= if current_user(@conn) do %>
        <li>
          <%= link "Выйти", to: session_path(@conn, :destroy), id: "sign_out" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    Арго Белгород © 2016
  </div>

  <div class="col-md-4"></div>
</div>
